:root {
  --color-primary: #a38dec;
  --color-primary-alt: #6f6ffd;
  --color-secondary: #ff2868;
  --color-background: #000000;
  --color-text: #6c58b0;
  --color-light: #fff;
  --color-anchor: #a38dec;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: white;
  color: black;
}

body {
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
}

header svg {
  width: 25%;
  height: 25%;
}
header .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
header .container::after {
  content: "";
  display: block;
  width: 500px;
  height: 500px;
  margin: 0 auto 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ccircle cx='50' cy='50' r='20' fill='yellow' /%3E%3Cg fill='orange'%3E%3Cpolygon points='50,5 45,20 55,20' /%3E%3Cpolygon points='50,95 45,80 55,80' /%3E%3Cpolygon points='5,50 20,45 20,55' /%3E%3Cpolygon points='95,50 80,45 80,55' /%3E%3Cpolygon points='17,17 27,27 10,10' /%3E%3Cpolygon points='83,17 73,27 90,10' /%3E%3Cpolygon points='17,83 27,73 10,90' /%3E%3Cpolygon points='83,83 73,73 90,90' /%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
