#styles div h2:first-of-type {
    position: relative;
    font-size: var(--font-size-h2);
    color: var(--color-light);
    text-align: center;
    padding: 1em 0;
  }
  
  #styles div h2:first-of-type::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px; /* Size for Jupiter */
    height: 200px; /* Size for Jupiter */
    background: url('/images/jupiter.svg') no-repeat center center;
    background-size: contain;
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensure it is behind the text */
    animation: spin 24.75s linear infinite; /* Jupiter: 10 hours */
  }
  
  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }